* {
  margin: 0;
  padding: 0;
  font-family: "Protest Strike", sans-serif;
  font-weight: 300;
}

body {
  display: flex;
  overflow: hidden;
}

a {
  color: #438c71;
  cursor: pointer;
}

a:active, a:hover {
  text-decoration: underline;
}

fieldset:first-child {
  margin-top: 1.5%;
}

fieldset {
  border: none;
  display: flex;
  gap: 100px;
  margin-bottom: 1.5%
}

.question-form {
  background-color: white;
  width: 60vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 12px 37px 8px rgba(145,145,145,0.35); 
  box-shadow: 0px 12px 37px 8px rgba(145,145,145,0.35);
}

label {
  font-size: 1.2rem;
}

.question-form input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #000;
  font-size: 18px;
  font-weight: 0;
}

.question-form input:invalid {
  border: 2px solid #f02416;
}

.question-form input:valid {
  border: 2px solid #16f050;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-container, .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  width: 60vw;
  padding-top: 5%
}

.other-btns {
  /* border: 2px solid black; */
  width: 60vw;
  height: 14vh;
  padding-top: 80px;
  padding-left: 640px;
}

.other-btns > input {
  width: 170px;
  height: 45px;
  background-color: #438c71;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 3%;
}

.other-btns > input:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.other-btns p {
  font-size: 17px;
}

.title-container {
  overflow: hidden;
  position: absolute;
  width: 40vw;
  height: calc(100vh + 600px);
  top: -300px;
  left: 60vw;
  background-image: url(images/geopattern.png);
  background-repeat: repeat;
  animation: background-scroll 15s infinite;
}

.title-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 0;
  width: 40vw;
  height: 10vh;
  opacity: 0.7;
  background-color: grey;
}

.title-header > h1 {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  max-width: fit-content;
  opacity: 1;
}

.title > img {
  width: 50px;
  margin-left: 30px;
}

@keyframes background-scroll {
  100% {
    translate: 0 300px;
  }
}